@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color_text: rgb(255, 240, 208);
  --color_border: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-image: linear-gradient(45deg, #29323c 0%, #4f5a66 100%);
  background-attachment: fixed;
  color: var(--color_text);
}

main {
  margin-top: 50px;
}

p {
  text-align: justify;
}

.container {
  max-width: 340px;
  margin: 0px auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container__logo {
  width: 120px;
  margin-bottom: 30px;
  filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.6));
}

.main-container__title {
  background-image: linear-gradient(19deg, #21D4FD 0%, #ca5fff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  font-weight: bold;
}

.main-container__description {
  padding: 20px;
  margin: 10px 0 10px 0;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.back a {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid var(--color_border);
  margin: 50px 0 50px 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top: 15px;
  width: 300px;
  border: 1px solid var(--color_border);
  border-radius: 5px;
  cursor: pointer;
}

.nav-links:hover {
  background-color: var(--color_border);
  transition: background-color 0.3s ease;
}

/* ---------------------------------------------------------------------- COURSES */

.container__card {
  border: 1px solid var(--color_border);
  border-radius: 8px;
  margin-bottom: 30px;
}

.card-title {
  padding: 20px 0 0 20px;
  background-image: linear-gradient(19deg, #21D4FD 0%, #ca5fff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  font-weight: bold;
}